@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client;

<h2>Client details:</h2>
<hr />

<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<h3>Stylist Name: @Html.DisplayFor(model => model.Stylist.Name)</h3>

<p>@Html.ActionLink("edit client", "Edit", new {id = Model.ClientId})</p>
<p>@Html.ActionLink("delete client", "Delete", new {id = Model.ClientId})</p>
<p>@Html.ActionLink("back to list of all clients", "Index")</p> 